.register {
    margin-top: 50px;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fpng.pngtree.com%2Fthumb_back%2Ffh260%2Fbackground%2F20200714%2Fpngtree-modern-double-color-futuristic-neon-background-image_351866.jpg&imgrefurl=https%3A%2F%2Fpngtree.com%2Ffree-backgrounds&tbnid=v88-M_AJ_P6MCM&vet=12ahUKEwiS28T9hIr9AhXagGMGHW4UDyEQMygDegUIARDqAQ..i&docid=nrS8yXEy4V6zEM&w=555&h=260&itg=1&q=background%20image&ved=2ahUKEwiS28T9hIr9AhXagGMGHW4UDyEQMygDegUIARDqAQ);

    background-size: cover;
}

.registerTitle {
    font-size: 50px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm>label {
    margin: 10px 0;
}

.registerInput {
    padding: 20px;
    background-color: white;
    border: none;
}

.registerButton {
    margin-top: 20px;
    padding: 10px;
    background-color: teal;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
}

.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}